* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainpage {
  z-index: -1;
}

.slide {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.author {
  width: 100%;
  position: absolute;
  z-index: 1;
  color: white;
  bottom: 0%;
  right: 0%;
}
