.slide {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
}

.author {
  width: 100%;
  position: absolute;
  z-index: 1;
  color: white;
  bottom: 0%;
  right: 0%;
}
