.cart-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: #242424;
}

.cart-page > * {
  display: flex;
  position: inherit;
}

.cart-page > nav {
  box-shadow: 0px 1px 3px rgb(206, 217, 228);
  background-color: aliceblue;
}

.cart-content {
  height: 100%;
  width: clamp(100px, 100%, 1280px);
  background-color: white;
  padding: 2em;
  flex-direction: column;
  align-self: center;
}

.cart-content > h1 {
  padding: 1rem 0;
  align-self: start;
}

.cart-content-details {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2em;
}

.cart-content-list {
  padding: 1em 0;
  flex-direction: column;
}

.cart-summary {
  max-height: 300px;
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  gap: 1em;
  border: solid 1px #dddcdc;
  justify-content: center;
}

.cart-summary > div {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  font-size: 1.2em;
}

.cart-summary > p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.2em;
}

@media only screen and (max-width: 1000px) {
  .cart-content-details {
    display: flex;
    flex-direction: column;
  }
}
